@keyframes div-animation{
    0%{
transform: translate(0,0);
background-color:red ;
    }
    25%{
transform: translate(0,600px);
background-color:blue ;
    }
    50%{
transform:translate(600px,600px);
background-color:green ;
    }
    75%{
transform:translate(600px,0px);
background-color: yellow;
    }
}

div{
    background-color: red;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-name: div-animation;
    width: 200px;
    height: 200px;
}
